<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Muxis 쇼핑몰</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- bootstrap은 jquery에 의존성이 있다. 그래서 bootstrap javascirpt보다 jquery가 먼저 선언되어 있어야한다. -->
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script> -->
    <!-- <script src="/libs/jquery-3.6.0.js"></script> -->
    <script type="text/javascript" src="/JS/jquery.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container" style="padding-top: 10px;">
        <nav class="navbar navbar-inverse"> 
            <div class="container-fluid">
                <div class="navbar-header">
                    <a href="/" class="navbar-brand">Muxis</a>
                </div>   
                <div class="login-header">  
                     <% if(user){%>
                        <a href="/logout">로그아웃</a></li>
                        <a href="/user/profile">프로필</a></li>

                    <%}else{%>
                        <a href="/login">로그인</a></li>  
                        <a href="/join">회원가입</a></li> 
                    <%}%>
            </div>
                    <a href="/board/list">게시판</a>
            </div> 
        </nav>