extends layouts/main

block content 
    form(action=routes.postLogin, method="post")
        input(name="userID", type="text", placeholder="ID")
        input(name="userPW", type="password", placeholder="PASSWARD")
        input(type="submit", value="login")